.contact {
  width: 100vw;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: block;

   h1{
    margin-top: 5em;
  }

  .input-content{
    padding-bottom: 2em;
    padding-top:2em;
    
  }

  .input-content input{
    padding: 1em 2em;
    border:solid 1px lightgray;
    border-radius: 10px;

  }  

  .input-content-message{
    margin-bottom: 2em;
    margin-top:2em;
  }

  .input-content-message input {
    padding: 5em 8em;
    border:solid 1px lightgray;
    border-radius: 10px;
  }

  .input-content-validation input{
    color: white;
    background-color: lightgreen;
    border-radius: 10px;
    border:none;
    padding: 1em 2em;
  }
}
