.contact {
  margin-top: 4em;
  width: 100vw;
  height: 85vh;
  text-align: center;
  display: block;
  font-family: 'Lato', sans-serif;




  .input-content{
    padding-bottom: 1em;
    padding-top:1em;
    
  }

  .input-content input{
    padding: 1em 2em;
    border:solid 1px lightgray;
    border-radius: 10px;

  }  

  .input-content-message{
    margin-bottom: 2em;
    margin-top:1em;
  }

  .input-content-message input {
    padding: 5em 8em;
    border:solid 1px lightgray;
    border-radius: 10px;
  }

  .input-content-validation input{
    color: white;
    background-color: rgb(85, 172, 72);
    border-radius: 10px;
    border:none;
    padding: 1em 2em;
    cursor: pointer;
    transition: 0.5s;
  }
}

.input-content-validation input:hover {
  transform: scale(1.1);
}

.send-svg{
  width: 40px;
  height: auto;
  vertical-align: middle;
  margin-left: 20px;
}

@media screen and (max-width: 570px) {
  .input-content-message input {
    padding: 5em 4em;
    border:solid 1px red;
    border-radius: 0px;
  }
}