.technologies-container {
  width: 100vw;
  height: 45vh;
  text-align: center;
  display: block;
  background-image: url("../assets/pictures/icons/desk.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  background-size: cover;

}


.technologies-container-text {
  z-index: 10;
}
.technologies-container-text p{
  color: whitesmoke;
  font-size: 2em;
  font-weight: bold;
}
.technologie-list {
  list-style: none;
  text-align: left;
}

.technologies-container-text {
  transform: translateY(50%);
  width: 100%;
  height: 20%;
  margin: auto;
}

.list-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;

  .circle{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: whitesmoke;
    margin-right: 30px;
    margin-top: 30px;
    opacity: 1;
  }
}


.skill-logo{
  width: 70%;
  text-align: center;
  margin-top: 12px;
}

@media screen and (max-width: 590px) {
  .technologies-container {
  height: 45vh;
  }

}
@media screen and (max-width: 780px) {
  .technologies-container {
  height: 70vh;
  }
}

@media screen and (max-width: 400px) {
  .technologies-container {
  height: 90vh;
  }
}