.home{
    height: 100vh;
    width: 100vw;
    background-color: #161616;
    transition: 1s;
    // background-color: #FAF1EC;
    
    .home-content{
        padding-top: 30%;
        margin-left: 20%;
    }

    .intro-title{
        margin-top: 30%;
        color: #fff;
        font-size: 1em;
    }

    .home-title{
        color: #fff;
        font-size: 3em;
        line-height: 2px;
    }
    .arrow{
        position: absolute;
        bottom: 1em;
        width: 2em;
        top: 90%; left: 10%; 
        transform: translate(-50%, -50%);
        animation: float 2s infinite ease-in-out;
    }
}


.lighthome{
    height: 100vh;
    width: 100vw;
    background-color: lightpink;
    transition: 1s;

    // background-color: #FAF1EC;
    
    .home-content{
        padding-top: 30%;
        margin-left: 20%;
    }

    .intro-title{
        margin-top: 30%;
        color: #fff;
        font-size: 1em;
    }

    .home-title{
        color: #fff;
        font-size: 3em;
        line-height: 2px;
    }
    .arrow{
        position: absolute;
        bottom: 1em;
        top: 90%; 
        left: 10%; 
        transform: translate(-50%, -50%);
        animation: float 2s infinite ease-in-out;
        cursor: pointer;
    }
}




@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}


@media screen and (min-width: 590px) and (max-width: 1880px){
    .home{
        height: 100vh;
        width: 100vw;
        background-color: #161616;
        
        .home-content{
            padding-top: 2em;
            padding-left: 15%;
        }
    
        .intro-title{
            margin-top: 15%;
            color: #fff;
            font-size: 3em;
        }
    
        .home-title{
            color: #fff;
            font-size: 7em;
            line-height: 2px;
        }
    
    
    }
  }






  @media screen and (min-width: 590px) and (max-width: 1880px){
    .lighthome{
        height: 100vh;
        width: 100vw;
        background-color: rgb(254, 202, 210);
        
        .home-content{
            padding-top: 2em;
            padding-left: 15%;
        }
    
        .intro-title{
            margin-top: 15%;
            color: #fff;
            font-size: 3em;
        }
    
        .home-title{
            color: #fff;
            font-size: 7em;
            line-height: 2px;
        }
    
    
    }
  }
