.parcours-container{
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: "lato";
    background-color: rgb(238, 238, 238);

    .parcours-content{
        width: 50vw;
        margin:auto;
        h1{
            padding-top: 2em;
            margin-bottom: 2em;
        }
    }
}

@media screen and (max-width: 740px){
    .parcours-container{
        height: 135vh;
    }
}