.parcours-container{
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: "lato";
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);


    .parcours-content{
        width: 50vw;
        margin:auto;
        padding: 1em;
        h1{
            padding-top: 2em;
            margin-bottom: 2em;
        }
    }
}

@media screen and (max-width: 740px){
    .parcours-container{
        height: auto;
    }
}