.nav{
    position: absolute;
    width: 100vw;
    height: 5vh;
    color: white;
    margin: auto;
    bottom: 40%;

    .network-list {
        display: flex;
        justify-content:center;
        list-style: none;
        text-align: center;
        align-items: center;

        .network-item{
            display: flex;
            list-style: none;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-right: 30px;
            margin-top: 2em;
            transition: transform 250ms;
        }
        
        .network-item:hover {
          transform: translateY(-4px);
        }
    }
}